In [1]:
import pandas as pd
import re

In [2]:
df_birth_year = pd.read_csv('data/birth_year.csv')
df_extrovert_introvert = pd.read_csv('data/extrovert_introvert.csv')
df_feeling_thinking = pd.read_csv('data/feeling_thinking.csv')
df_gender = pd.read_csv('data/gender.csv')
df_judging_perceiving = pd.read_csv('data/judging_perceiving.csv')
df_nationality = pd.read_csv('data/nationality.csv')
df_political_leaning = pd.read_csv('data/political_leaning.csv')
df_sensing_intuitive = pd.read_csv('data/sensing_intuitive.csv')

In [3]:
df_extrovert_introvert.extrovert.value_counts()

extrovert
0    31370
1     9082
Name: count, dtype: int64

In [4]:
df_feeling_thinking.feeling.value_counts()

feeling
0    26168
1    13432
Name: count, dtype: int64

In [5]:
df_judging_perceiving.judging.value_counts()

judging
1    25465
0    15900
Name: count, dtype: int64

In [6]:
df_sensing_intuitive.sensing.value_counts()

sensing
0    36582
1     5257
Name: count, dtype: int64

In [7]:
df_extrovert_introvert

,auhtor_ID,post,extrovert
0,t2_2hrxxs28,"I have a question, if you have no doctor, how'...",0
1,t2_2hrxxs28,butt to have Covid + your cycle. I'm not sure ...,0
2,t2_2hrxxs28,through different doctors. My situation sucks ...,0
3,t2_4pxpgwz,i thought it was about the pebbleyeet guy the ...,0
4,t2_4pxpgwz,…i always end up voting wrong even as crewmate...,0
...,...,...,...
40447,t2_8xjvf,Professional Association** We do not allow per...,0
40448,t2_8xjvf,work on the artist's behalf. Please post this ...,0
40449,t2_8xjvf,* Chill * Alternative/Alt * LoFi * Electronic ...,0
40450,t2_8xjvf,without the ability to appeal. ___ ___ If you ...,0
40451,t2_8xjvf,"support for that, especially given other tax r...",0

In [8]:
df_extrovert_introvert

# from df_extrovert_introvert, join together the posts of the same user and replace the posts with the joined posts but also keep extrovert column
df_extrovert_introvert_joined = df_extrovert_introvert.groupby('auhtor_ID').agg({'post': ' '.join, 'extrovert': 'first'}).reset_index()

# from df_feeling_thinking, join together the posts of the same user and replace the posts with the joined posts but also keep feeling column
df_feeling_thinking_joined = df_feeling_thinking.groupby('auhtor_ID').agg({'post': ' '.join, 'feeling': 'first'}).reset_index()

# from df_judging_perceiving, join together the posts of the same user and replace the posts with the joined posts but also keep judging column
df_judging_perceiving_joined = df_judging_perceiving.groupby('auhtor_ID').agg({'post': ' '.join, 'judging': 'first'}).reset_index()

# from df_sensing_intuitive, join together the posts of the same user and replace the posts with the joined posts but also keep sensing column
df_sensing_intuitive_joined = df_sensing_intuitive.groupby('auhtor_ID').agg({'post': ' '.join, 'sensing': 'first'}).reset_index()

In [9]:
df_extrovert_introvert[df_extrovert_introvert['auhtor_ID'] == 't2_104boi']

       auhtor_ID                                               post  extrovert
18685  t2_104boi  No, not really... You can do drugs every day f...          0
18686  t2_104boi  the dry humor and go with it. Works for me. Hi...          0
18687  t2_104boi  the most introverted extroverts because they a...          0
18688  t2_104boi  powerful thing and I have to remember to focus...          0

In [10]:
# join all 4 dataframes together
df_all = pd.merge(df_extrovert_introvert_joined, df_feeling_thinking_joined, on='auhtor_ID', how='outer', suffixes=('_extrovert', '_feeling'))
df_all = pd.merge(df_all, df_judging_perceiving_joined, on='auhtor_ID', how='outer')
df_all = pd.merge(df_all, df_sensing_intuitive_joined, on='auhtor_ID', how='outer', suffixes=('_judging', '_sensing'))
# df_all = pd.merge(df_all, df_judging_perceiving_joined, on='auhtor_ID', how='outer')
# df_all = pd.merge(df_all, df_sensing_intuitive_joined, on='auhtor_ID', how='outer')

In [11]:
df_all_cleaned = df_all.dropna()

In [12]:
df_all_cleaned

,auhtor_ID,post_extrovert,extrovert,post_feeling,feeling,post_judging,judging,post_sensing,sensing
24,t2_12bhu7,I wear a Lorna shore shirt out alot in public ...,1.0,I wear a Lorna shore shirt out alot in public ...,1.0,I wear a Lorna shore shirt out alot in public ...,0.0,I wear a Lorna shore shirt out alot in public ...,0.0
28,t2_12jbpd,I'd say this is a very accurate characterizati...,1.0,I'd say this is a very accurate characterizati...,0.0,I'd say this is a very accurate characterizati...,0.0,I'd say this is a very accurate characterizati...,0.0
31,t2_12uwr5,Ya know like most people with home decorations...,0.0,Ya know like most people with home decorations...,0.0,Ya know like most people with home decorations...,1.0,Ya know like most people with home decorations...,0.0
32,t2_12zm15,It's true tho. They're kinda more interesting ...,0.0,It's true tho. They're kinda more interesting ...,1.0,It's true tho. They're kinda more interesting ...,0.0,It's true tho. They're kinda more interesting ...,0.0
39,t2_13cjjl,"Yeah, but that's one of the things that make m...",0.0,"Yeah, but that's one of the things that make m...",0.0,"Yeah, but that's one of the things that make m...",0.0,"Yeah, but that's one of the things that make m...",1.0
...,...,...,...,...,...,...,...,...,...
1952,t2_vfp8y,so change profession then. this would be inadm...,0.0,so change profession then. this would be inadm...,0.0,so change profession then. this would be inadm...,1.0,so change profession then. this would be inadm...,0.0
1956,t2_w0842,The technological singularity. And the possibi...,0.0,The technological singularity. And the possibi...,0.0,The technological singularity. And the possibi...,1.0,The technological singularity. And the possibi...,0.0
1957,t2_w6rgl,Dear God man. Chill. I'm not Einstein or Hawki...,0.0,Dear God man. Chill. I'm not Einstein or Hawki...,0.0,Dear God man. Chill. I'm not Einstein or Hawki...,1.0,Dear God man. Chill. I'm not Einstein or Hawki...,0.0
1963,t2_wilcwvo,That's what a fake lib would say [Human blood ...,1.0,That's what a fake lib would say [Human blood ...,0.0,That's what a fake lib would say [Human blood ...,0.0,That's what a fake lib would say [Human blood ...,0.0
1990,t2_zq7gkv,My biggest problem is asking for it. I don’t n...,1.0,My biggest problem is asking for it. I don’t n...,1.0,My biggest problem is asking for it. I don’t n...,1.0,My biggest problem is asking for it. I don’t n...,0.0

In [13]:
df_extrovert_introvert_joined

,auhtor_ID,post,extrovert
0,t2_104boi,"No, not really... You can do drugs every day f...",0
1,t2_107gm8,I honestly don't think he cares about disabled...,0
2,t2_10aaboz1,Kobe Bryant and his daughter Pretty much I’ve ...,0
3,t2_10cuqejl,"Absolutely. I'm 25 although usually get ""asexu...",0
4,t2_10j5wx,Mother told me not to lie... I don't care. I a...,1
...,...,...,...
1987,t2_zf5yu,The ISTP’s I know show their love through acts...,0
1988,t2_zkv2j,"Tsukimihara wo No you can't 2H a 6M, common mi...",0
1989,t2_zljee,Kevin Huber is trash Yes. YouTube. 0 POINTS Se...,0
1990,t2_zq7gkv,My biggest problem is asking for it. I don’t n...,1
1991,t2_zy0k6,Guys is a gender-neutral pronoun. The only peo...,0

In [14]:
df_feeling_thinking_joined

        auhtor_ID                                               post  feeling
0       t2_104boi  No, not really... You can do drugs every day f...        0
1       t2_10511a  All I know is that Rose is going home Well he ...        0
2     t2_10aaboz1  Kobe Bryant and his daughter Pretty much I’ve ...        1
3       t2_10c5y8  &gt;but peeps still figured those out. Yeah, v...        0
4       t2_10kvyn  I am chronically exhausted by other people but...        1
...           ...                                                ...      ...
2062    t2_zq7gkv  My biggest problem is asking for it. I don’t n...        1
2063     t2_zr0h1  1. London Boy 2. Dear John 3. New Year's Day (...        1
2064   t2_zu3wyu1  Get super giggly. This is how I make it. 4 Clo...        1
2065     t2_zy0k6  Guys is a gender-neutral pronoun. The only peo...        0
2066     t2_zybvs  That’s the first strange fact that popped into...        0

[2067 rows x 3 columns]

In [15]:
# remove all authors , contained in df_all_cleaned, from df_extrovert_introvert_joined, df_feeling_thinking_joined, df_judging_perceiving_joined, df_sensing_intuitive_joined
df_extrovert_introvert_joined = df_extrovert_introvert_joined[~df_extrovert_introvert_joined['auhtor_ID'].isin(df_all_cleaned['auhtor_ID'])]
df_feeling_thinking_joined = df_feeling_thinking_joined[~df_feeling_thinking_joined['auhtor_ID'].isin(df_all_cleaned['auhtor_ID'])]
df_judging_perceiving_joined = df_judging_perceiving_joined[~df_judging_perceiving_joined['auhtor_ID'].isin(df_all_cleaned['auhtor_ID'])]
df_sensing_intuitive_joined = df_sensing_intuitive_joined[~df_sensing_intuitive_joined['auhtor_ID'].isin(df_all_cleaned['auhtor_ID'])]

In [17]:
df_feeling_thinking_joined

        auhtor_ID                                               post  feeling
0       t2_104boi  No, not really... You can do drugs every day f...        0
1       t2_10511a  All I know is that Rose is going home Well he ...        0
2     t2_10aaboz1  Kobe Bryant and his daughter Pretty much I’ve ...        1
3       t2_10c5y8  &gt;but peeps still figured those out. Yeah, v...        0
4       t2_10kvyn  I am chronically exhausted by other people but...        1
...           ...                                                ...      ...
2061     t2_zpxm5  It would Throw Another Log On The Fire. Now yo...        0
2063     t2_zr0h1  1. London Boy 2. Dear John 3. New Year's Day (...        1
2064   t2_zu3wyu1  Get super giggly. This is how I make it. 4 Clo...        1
2065     t2_zy0k6  Guys is a gender-neutral pronoun. The only peo...        0
2066     t2_zybvs  That’s the first strange fact that popped into...        0

[1912 rows x 3 columns]

In [13]:
import gensim
from gensim.utils import simple_preprocess
from gensim.parsing.preprocessing import STOPWORDS
from nltk.stem import WordNetLemmatizer, SnowballStemmer
from nltk.stem.porter import *
import numpy as np
np.random.seed(400)
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\dimit\AppData\Roaming\nltk_data...

True

In [18]:
df_extrovert_introvert_joined['extrovert'].value_counts()

extrovert
0    1437
1     400
Name: count, dtype: int64

In [19]:
# undersample the majority class of df_extrovert_introvert_joined

df_extrovert_introvert_joined_extrovert = df_extrovert_introvert_joined[df_extrovert_introvert_joined['extrovert'] == 1]
df_extrovert_introvert_joined_introvert = df_extrovert_introvert_joined[df_extrovert_introvert_joined['extrovert'] == 0]

df_extrovert_introvert_joined_introvert_sampled = df_extrovert_introvert_joined_introvert.sample(n=len(df_extrovert_introvert_joined_extrovert), random_state=42)

In [20]:
# combine the two dataframes together df_extrovert_introvert_joined_extrovert and df_extrovert_introvert_joined_introvert_sampled
df_extrovert_introvert_joined_sampled = pd.concat([df_extrovert_introvert_joined_extrovert, df_extrovert_introvert_joined_introvert_sampled]).reset_index(drop=True)
df_extrovert_introvert_joined_sampled

       auhtor_ID                                               post  extrovert
0      t2_10j5wx  Mother told me not to lie... I don't care. I a...          1
1    t2_10yl6g2x  I had a couple guys try to bully me when I cam...          1
2      t2_11a78w  bruh i thought this was a meme until i saw op'...          1
3      t2_11dfyb  I look girly and I look boyish when I talk. I ...          1
4      t2_11xick  With respect, I don’t see how this can be the ...          1
..           ...                                                ...        ...
795     t2_tjqum  I wanted to downvote because the thought of th...          0
796     t2_lfu7v  Best thing you can do is leave and come back. ...          0
797  t2_2b9mn0cu  I believe it's about getting fully psionic pop...          0
798     t2_5bam0  2 for sure, not even close It's not "difficult...          0
799  t2_5d9ilxmj  Niestety będzie to dalej betonować podziały na...          0

[800 rows x 3 columns]

In [21]:
df_feeling_thinking_joined['feeling'].value_counts()

feeling
0    1257
1     655
Name: count, dtype: int64

In [22]:
# undersample the majority class of df_feeling_thinking_joined

df_feeling_thinking_joined_feeling = df_feeling_thinking_joined[df_feeling_thinking_joined['feeling'] == 1]
df_feeling_thinking_joined_thinking = df_feeling_thinking_joined[df_feeling_thinking_joined['feeling'] == 0]

df_feeling_thinking_joined_thinking_sampled = df_feeling_thinking_joined_thinking.sample(n=len(df_feeling_thinking_joined_feeling), random_state=42)

# combine the two dataframes together df_extrovert_introvert_joined_extrovert and df_extrovert_introvert_joined_introvert_sampled
df_feeling_thinking_joined_sampled = pd.concat([df_feeling_thinking_joined_feeling, df_feeling_thinking_joined_thinking_sampled]).reset_index(drop=True)
df_feeling_thinking_joined_sampled

        auhtor_ID                                               post  feeling
0     t2_10aaboz1  Kobe Bryant and his daughter Pretty much I’ve ...        1
1       t2_10kvyn  I am chronically exhausted by other people but...        1
2       t2_1196mc  some of us INFJs are super shy / will not make...        1
3       t2_12q3th  I understand well I’d be happy to maybe featur...        1
4       t2_12qddi  My ex and best friend displays that “abusive” ...        1
...           ...                                                ...      ...
1305  t2_7nd3z48y  I don’t care. I’m too tired. I will do what I ...        0
1306  t2_1xpanblf  Yiiiikes. I wondered honestly if they'd care m...        0
1307     t2_y1wsv  Sounds more like limerance to me rather than l...        0
1308  t2_3es0x9g2  fake Who doesn't? Should have gone with the wi...        0
1309  t2_b9vsy5x6  The sheer skill of these guys is absolutely in...        0

[1310 rows x 3 columns]

In [23]:
df_judging_perceiving_joined['judging'].value_counts()

judging
1    1085
0     732
Name: count, dtype: int64

In [24]:
# undersample the majority class of df_judging_perceiving_joined

df_judging_perceiving_joined_judging = df_judging_perceiving_joined[df_judging_perceiving_joined['judging'] == 1]
df_judging_perceiving_joined_perceiving = df_judging_perceiving_joined[df_judging_perceiving_joined['judging'] == 0]

df_judging_perceiving_joined_judging_sampled = df_judging_perceiving_joined_judging.sample(n=len(df_judging_perceiving_joined_perceiving), random_state=42)

# combine the two dataframes together df_extrovert_introvert_joined_extrovert and df_extrovert_introvert_joined_introvert_sampled
df_judging_perceiving_joined_sampled = pd.concat([df_judging_perceiving_joined_perceiving, df_judging_perceiving_joined_judging_sampled]).reset_index(drop=True)
df_judging_perceiving_joined_sampled

        auhtor_ID                                               post  judging
0     t2_100mhwy0  S'ils sont comme ça, c'est souvent que leurs m...        0
1       t2_10511a  All I know is that Rose is going home Well he ...        0
2       t2_10j5wx  Mother told me not to lie... I don't care. I a...        0
3       t2_10q5jy  What kind of worked for me was when I thought ...        0
4       t2_10s3a9  I definitely, absolutely, 100% relate. I feel ...        0
...           ...                                                ...      ...
1459  t2_3kchhjru  Alexander. I liked some of the visuals, and th...        1
1460   t2_pm1g85e  Is the AI .. INTJ? I feel you.. Now imagine wh...        1
1461  t2_8gk25v6f  Hi Call 911 They are super horny 25/7 I want t...        1
1462  t2_g0w7vyto  33 sounds like such a good age. I can't wait t...        1
1463     t2_gef73  Do you know by any chance if he was killed by ...        1

[1464 rows x 3 columns]

In [25]:
df_sensing_intuitive_joined['sensing'].value_counts()

sensing
0    1534
1     265
Name: count, dtype: int64

In [26]:
# undersample the majority class of df_sensing_intuitive_joined

df_sensing_intuitive_joined_sensing = df_sensing_intuitive_joined[df_sensing_intuitive_joined['sensing'] == 1]
df_sensing_intuitive_joined_intuitive = df_sensing_intuitive_joined[df_sensing_intuitive_joined['sensing'] == 0]

df_sensing_intuitive_joined_intuitive_sampled = df_sensing_intuitive_joined_intuitive.sample(n=len(df_sensing_intuitive_joined_sensing), random_state=42)

# combine the two dataframes together df_extrovert_introvert_joined_extrovert and df_extrovert_introvert_joined_introvert_sampled
df_sensing_intuitive_joined_sampled = pd.concat([df_sensing_intuitive_joined_sensing, df_sensing_intuitive_joined_intuitive_sampled]).reset_index(drop=True)
df_sensing_intuitive_joined_sampled

       auhtor_ID                                               post  sensing
0      t2_10c5y8  &gt;but peeps still figured those out. Yeah, v...        1
1    t2_10yl6g2x  I had a couple guys try to bully me when I cam...        1
2    t2_11wkz33k  I think we're finally in a state we're the mar...        1
3      t2_12t59p  My kinda guy ‘No, sir, really. You want some p...        1
4      t2_170dhg  bUT tHey wAnTEd TO oVeRthROw tHe GoVErNmeNT! T...        1
..           ...                                                ...      ...
525  t2_doybmb4f  Do you have anything else that you enjoy doing...        0
526  t2_la6hv01n  I've encountered 3 men with this sort of behav...        0
527   t2_3xyzh5e  I’m sorry they are not supporting you. You des...        0
528  t2_4qblm1wt  Yeah maybe :D I already forgot the details but...        0
529  t2_7usuq7c1  I think what you meant to say was “plane?” I h...        0

[530 rows x 3 columns]

In [27]:
df_extrovert_introvert_joined_sampled.to_csv('data/df_extrovert_introvert_joined_sampled.csv', index=False)
df_feeling_thinking_joined_sampled.to_csv('data/df_feeling_thinking_joined_sampled.csv', index=False)
df_judging_perceiving_joined_sampled.to_csv('data/df_judging_perceiving_joined_sampled.csv', index=False)
df_sensing_intuitive_joined_sampled.to_csv('data/df_sensing_intuitive_joined_sampled.csv', index=False)